/*  2023.05.03 실습
* {
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 800px;
    height: 600px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.wrapper__head {
    width: 720px;
    height: 220px;
    border-bottom: 3px dotted gray;
}

.wrapper__head__title {
    background-color: darkorange;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.wrapper__head__sub-title {
    width: 100%;
    height: 120px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#point {
    font-size: 24px;
    font-weight: bold;
    color: darkorange;
    margin-top: 20px;
    display: block;
}

.wrapper__body {
    width: 720px;
    height: 280px;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.wrapper__body__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body__content__title {
    background-color: gray;
    font-size: 18px;
    font-weight: bold;
}

.body__content__article {
    margin-top: 20px;
}

.body__content__footer {
    text-align: right;
} */

* {
    box-sizing: border-box;
    margin: 0px;
}

.container {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.wrapper {
    width: 620px;
    padding: 40px 30px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
}

.wrapper__head {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed gray;
}

.wrapper__head__title {
    font-size: 32px;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.wrapper__head__sub-title {
    font-size: 18px;
    padding: 10px 0;
}

#point {
    color: orange;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 15px;
    display: block;
}

.wrapper__body {
    border: 1px solid #dddddd;
    padding: 20px 30px;
}

.diary-title {
    font-size: 18px;
    font-weight: 600;
    background-color: #f4f4f4;
    margin-bottom: 20px;
}

.kimchi {
    color: red;
    font-weight: 600;
}

.egg {
    color: orange;
    font-weight: 600;
}

.highlight {
    font-size: 22px;
    color: blue;
    font-weight: 700;
    font-style: italic;
}

.diary-date {
    color: #919191;
    font-size: 14px;
    text-align: right;
}
